/* Need to refer to Figma document to style the destination page. */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.destination-style {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding-bottom: 300px;
    max-width: 1400px;
    background-position: center;
    background-repeat: no-repeat;
}

.destination-header-plannetImg-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 238px;

}

.pick-destination {
    font-family: 'Barlow Condensed';
    position: relative;
    bottom: 60px;
    right: 90px;
    width: 400px;
    height: 34px;
    padding-left: 200px;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    margin-bottom:704px;
    color: #FFFFFF;
    
}

.span-item {
    opacity: 0.4;
    font-weight: bold;
}

.planets-img {
    position: absolute;
    width: 440px;
    height: 440px;
    margin-left: 156.5px;
    top: 270px;
}

.planets-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 445px;
    height: 472px;
    margin-right: 130px;
}

.planets-navigation {
    display: flex;
    flex-basis: 50px;
    width: 285.5px;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    margin-bottom: 37px

 

}

.planets-navigation-list-items {
    padding: 15px 15px 15px 0px;
    list-style: none;
}

.planets-navigation-list-items a {
    text-decoration: none;
    font-size: 20px;
    color: #D0D6F9;

}


.plannet-heading {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 115px;
    text-transform: uppercase;
/* identical to box height */
    color: #FFFFFF;
    margin-bottom: 14px;
}

.planet-description {
    height: 128px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #D0D6F9;
}

.footer-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 23px;
}

.distace-wrapper {
    display: flex;
    flex-direction: column;
    width: 153.5px;
    height: 61px;
    margin-right: 68px;
}

.travle-time-wrapper {
    display: flex;
    flex-direction: column;
    
}

.distance-items {
    font-family: 'Barlow Condensed';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    text-transform: uppercase;
    color: #D0D6F9;
    
    /* margin-right: 70px; */
}

.distance-items-result {
    font-family: 'Bellefair';
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 153px;
    height: 32px;
}


#line-effect-destination {
    /* position: absolute; */
    left: 0.22%;
    right: 0%;
    top: 80.93%;
    bottom: 18.86%;
    width: 444px;
    height: 1px;
    background: #383B4B;
    margin-top: 54px;
}

.distance-items {
    font-family: 'Bellefair';
    
}